<h1>Liste over medlemmer</h1>


<table cellspacing="10">
<% @members.each do |member| %>
<div class="mem">
    <tr>
        <th rowspan="3"><%= image_tag uploads_path(member.pic), :size => "100x150" %></th>
        <td>Navn: </td>
        <td><%= member.name %></td>
    </tr>
    <tr>
        <td>Alder: </td>
        <td><%= member.age %></td>
    </tr>
    <tr>
        <td>Rolle: </td>
        <td><%= member.role %></td>
    </tr>
</div>
<% end %>
</table>
<br />
