// Place all the styles related to the protocol controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$text_grey: #272727;

#content h1 {
	font-size: 20px;
	padding: 5px 0;
}

#content ul {
	list-style: none;
}

#content li {
	padding: 0 0 5px 20px;
}

#content table {
	border: none;
	padding: 10px 0;
}

#content td {
	border: none;
}

#content p {
	display: none;
}

#content pre {
	white-space: pre-line;
}