<h2>Dokumenter</h2>
<!--
<%= link_to "Prosjektskisse", doc_path("Prosjektskisse.pdf") %>
-->
<table>
<% @documents.each do |document| %>

  <tr>
  	<% if document.title.empty? %>
  		<th><%= link_to document.doc.gsub(".pdf", "").split("/")[1].capitalize, "http://#{document.doc}" %></td>
  	<% else %>
  		<th><%= link_to document.title, "http://#{document.doc}" %></td>
  	<% end %>
  </tr>

<% end %>

</table>