<h2>Dokumenter</h2>
<!--
<%= link_to "Prosjektskisse", doc_path("Prosjektskisse.pdf") %>
-->
<% @files = Dir.entries("public/uploads/") %>
<% @files.each do |file| %>
    <%if file != "." && file != ".."%>
        <p><%= link_to file.capitalize.gsub(".pdf", ""), doc_path(file) %></p> 
    <% end %>
<% end %>
