<h1>Gruppe 20</h1>
<%= image_tag "rails.png" %>
<p>Siden er under konstruksjon! <br/>
Prosjektside for gruppe 20 kommer snart.
</p>
<%= link_to 'Prosjektskisse (PDF)', doc_path('Prosjektskisse.pdf') %>
