<ul style="list-style: none;">
    <li><%= link_to "Redigere medlemmer", about_admin_path %></li>
    <li><%= link_to "Laste opp dokumenter", new_document_path %></li>
	<li><%= link_to "Legg til bruker", new_user_path %></li>
</ul>
